.body {
    height: 100vh;
    background-color: hsl(229, 24%, 87%);
    position: relative;
}

.navbar {
    background-image: url('../../assets/images/bg-sidebar-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.navbar ul {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 15px;
}

.step {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 10px 15px;
    font-weight: bold;
}

.current-step {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 10px 15px;
    font-weight: bold;
    color: black;
    background-color: hsl(206, 94%, 87%);
}

.step-name {
    display: none;
}

.errorMsg {
    color: red;
}

/* ----------------------------------------------------------------------------------------------------- */

/* step 1 */


.personal-info-form {
    position: absolute;
    background-color: #fff;
    margin: 0 15px;
    padding: 25px 20px;
    border-radius: 10px;
    top: 100px;
}

.personal-info-form p {
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    margin-top: 10px;
    line-height: 25px;
    font-weight: 450;
}

.label-and-error {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: hsl(213, 96%, 18%);
    margin: 20px 0 5px 0;
}

form input {
    padding: 15px 10px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    width: calc(100% - 20px);
    font-weight: bold;
    font-size: 17px;
}

form input:focus {
    outline: 2px solid hsl(213, 96%, 18%);
}

form input::placeholder {
    font-size: 600;
    color: hsl(231, 11%, 63%);
    font-size: 17px;
}

.page-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

.next-step {
    background-color: hsl(243, 100%, 62%);
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
}

.next-step:hover {
    background-color: hsl(213, 96%, 18%);
}





/* -------------------------------------------------------------------------------------- */

/* step 2 */

.select-plan {
    position: absolute;
    background-color: #fff;
    margin: 0 15px;
    padding: 20px 15px;
    border-radius: 10px;
    top: 100px;
}

.select-plan h1 {
    font-size: 22px;
}

.select-plan .instructions {
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    margin-top: 5px;
    line-height: 25px;
    font-weight: 450;
}


.options {
    margin-top: 20px;
    width: 100%;
    gap: 30px;
}

.plan {
    border: 1px solid hsl(229, 24%, 87%);
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    width: calc(100% - 50px);
}

.price p {
    color: hsl(231, 11%, 63%);
}


.selected {
    border: 1px solid hsl(243, 100%, 62%);
    box-shadow: 5px 5px hsl(243, 100%, 62%);
}


.monthly-yearly {
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    margin-top: 20px;
    font-weight: bold;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 15px;
    top: 3px;
    left: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: hsl(213, 96%, 18%);
}

input:focus+.slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

.time {
    color: hsl(231, 11%, 63%);
}

.selected-time {
    color: hsl(213, 96%, 18%);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.go-back {
    border: none;
    color: hsl(243, 100%, 62%);
    background-color: transparent;
    border-radius: 10px;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.go-back:hover {
    color: hsl(213, 96%, 18%);
}

/* ------------------------------------------------------------------------------ */

/* step 3 */

.select-add-ons {
    position: absolute;
    background-color: #fff;
    margin: 0 15px;
    padding: 20px 15px;
    border-radius: 10px;
    top: 100px;
}

.select-add-ons .instructions {
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    margin-top: 10px;
    line-height: 25px;
    font-weight: 450;
}

.addons-options {
    margin-top: 30px;
}
.add-ons {
    border: 2px solid hsl(217, 100%, 97%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: calc(100% - 25px);
    background-color: hsl(217, 100%, 97%);
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.add-ons-name h3 {
    font-size: 15px;
}

.benefits {
    font-size: 13px;
}

.selected-add-ons {
    border: 2px solid hsl(213, 96%, 18%);
}

.add-ons-name {
    display: flex;
}

.add-ons-name div {
    margin-left: 20px;
}

.add-ons-name div p {
    color: hsl(231, 11%, 63%);
    margin-top: 5px;
}

.add-ons-name input {
    height: 50px;
    width: 20px;
    cursor: pointer;
}

/* step 4 */

.summary {
    position: absolute;
    background-color: #fff;
    margin: 0 15px;
    padding: 20px 20px;
    border-radius: 10px;
    top: 100px;
}

.summary .instructions {
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    margin-top: 10px;
    line-height: 23px;
    font-weight: 450;
    letter-spacing: 1px;
}

.subscription-list {
    margin-top: 30px;
}

.subscription-plan {
    display: flex;
    background-color: hsl(217, 100%, 97%);
    font-weight: bold;
    padding: 30px 20px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.subscription-addons {
    padding: 10px 20px;
    background-color: hsl(217, 100%, 97%);
    border-bottom: 1px solid gray;
}

.subscription-addons div {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.addon {
    padding: 10px 0;
}

.total {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.subs-plan-name, .addons-name, .total p {
    color: hsl(231, 11%, 63%);
    font-weight: bold;
}

.subs-plan-price, .addons-price, .total h3 {
    color: hsl(213, 96%, 18%);
}

/* step 4 */

.thank-you {
    position: absolute;
    background-color: #fff;
    margin: 0 15px;
    padding: 90px 20px;
    border-radius: 10px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.thank-you p {
    text-align: center;
    font-size: 15px;
    color: hsl(231, 11%, 63%);
    margin-top: 10px;
    line-height: 23px;
    font-weight: 450;
    letter-spacing: 1px;
}





/* -------------------------------------------------------------------------------------------- */

/* responsive */

@media screen and (min-width: 360px) {
    .personal-info-form {
        margin: 0 25px;
        padding: 25px;
    }

    .personal-info-form p {
        font-size: 17px;
        line-height: 25px;
        margin-top: 10px;
    }

    .select-plan {
        margin: 0 20px;
        padding: 25px;
        top: 95px;
        bottom: 20px;
    }

    .select-plan h1 {
        font-size: 27px;
    }

    .select-plan .instructions {
        font-size: 16px;
        margin-top: 10px;
        line-height: 25px;
    }

    .plan {
        margin-bottom: 10px;
        width: calc(100% - 41px);
        padding: 15px 20px;
    }

    .price p {
        margin-top: 5px;
    }

    .monthly-yearly {
        gap: 20px;
        padding: 15px 0;
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
    }

    .add-ons-name h3 {
        font-size: 16px;
    }

    .benefits {
        font-size: 15px;
    }

    .buttons {
        margin-top: 10px;
    }

    .select-add-ons .instructions {
        font-size: 17px;
    }
}

@media screen and (min-width: 426px) {
    .navbar {
        height: 400px;
    }

    .step,
    .current-step {
        padding: 15px 20px;
        font-size: 17px;
    }

    .personal-info-form {
        margin: 0 25px;
        padding: 35px;
        border-radius: 10px;
        top: 120px;
    }

    .personal-info-form p {
        font-size: 19px;
        line-height: 25px;
    }

    .label-and-error {
        font-size: 17px;
    }

    .next-step {
        padding: 15px 25px;
        right: 25px;
        bottom: 25px;
        font-size: 18px;
    }

    .navbar ul {
        height: 120px;
        gap: 20px;
        font-size: 19px;
    }

    /* step 2 */

    .select-plan, .summary {
        margin: 0 30px;
        padding: 25px;  
        top: 120px;     
    }

    /* step 3 */
    .addon {
        padding: 20px 0;
    }

    .total {
        margin-top: 15px;
        padding: 25px 20px;
    }

    /* thank you */

    .thank-you {
        margin: 0 25px;
        padding: 150px 30px;
        top: 120px;
        gap: 30px;
    }
    
    .thank-you p {
        font-size: 18px;
        color: hsl(231, 11%, 63%);
        margin-top: 10px;
        letter-spacing: 1px;
        line-height: 35px;
    }
}

@media screen and (min-width: 462px) {
    .select-plan {
        margin: 20px 35px;
        padding: 30px 25px;
    }

    .options {
        margin-top: 25px;
    }

    .plan {
        padding: 20px 25px;
        margin-bottom: 20px;
    }

    .price p {
        margin-top: 5px;
    }
}

@media screen and (min-width: 522px) {
    .select-plan {
        padding: 35px;
    }
}

@media screen and (min-width: 542px) {
    .select-plan h1 {
        font-size: 35px;
    }

    .select-plan .instructions {
        font-size: 20px;
        line-height: 30px;
    }

    .plan {
        margin-bottom: 20px;
        width: calc(100% - 42px);
        padding: 20px;
    }
}

@media screen and (min-width: 576px) {
    .select-add-ons {
        top: 90px;
        width: calc(100% - 120px);
        margin: 30px;
        padding: 30px;
    }

    .select-add-ons .instructions {
        font-size: 19px;
    }

    .add-ons {
        margin-top: 25px;
        padding: 20px;
        width: calc(100% - 40px);
    }

    .add-ons-name h3 {
        font-size: 19px;
    }

    .buttons {
        margin-top: 40px;
    }

    /* step 3 */

    .summary {
        letter-spacing: 1px;
    }

    .summary .instructions {
        font-size: 19px;
    }

    .subs-plan-name, .addons-name {
        font-size: 19px;
    }

    .subs-plan-price, .addons-price, .total h3 {
        font-size: 18px;
    }

    .total P {
        font-size: 19px;
    }

    /* thank you */

    .thank-you {
        margin: 0 40px;
        padding: 150px 40px;
        top: 130px;
        gap: 30px;
    }
    
    .thank-you p {
        font-size: 20px;
        color: hsl(231, 11%, 63%);
        margin-top: 10px;
        letter-spacing: 1px;
        line-height: 35px;
    }

}

@media screen and (min-width: 587px) {
    .select-plan {
        top: 100px;
    }

    .select-plan h1 {
        font-size: 37px;
    }

    .select-plan .instructions {
        font-size: 22px;
        line-height: 30px;
    }

    .plan {
        margin-bottom: 25px;
        padding: 25px;
        width: calc(100% - 51px);
    }
}

@media screen and (min-width: 658px) {
    .personal-info-form p {
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
        margin: 25px 0;
    }
}

@media screen and (min-width: 728px) {
    .navbar ul {
        height: 150px;
        gap: 20px;
        font-size: 30px;
        font-weight: 700;
    }

    .personal-info-form {
        top: 150px;
        margin: 0 50px;
        padding: 40px;
    }

    .next-step {
        right: 50px;
    }
}

@media screen and (min-width: 768px) {
    .select-plan, .summary {
        top: 150px;
        width: calc(100% - 170px);
        bottom: 20px;
        margin: 0 50px;
    }

    .select-plan h1 {
        font-size: 30px;
    }

    .select-plan .instructions {
        font-size: 20px;
    }

    .price h3 {
        font-size: 22px;
    }

    .price p {
        font-size: 18px;
    }

    .monthly-yearly {
        font-size: 18px;
    }

    /* step 3 */

    .select-add-ons {
        top: 100px;
        margin: 50px;
        width: calc(100% - 170px);
    }


    .step, .current-step {
        padding: 25px 35px;
        font-size: 20px;
    }

    .add-ons {
        padding: 25px 30px;
        width: calc(100% - 60px);
    }

    .add-ons-price {
        font-size: 19px;
    }

    /* step 3 */

    .summary {
        top: 150px;
        width: calc(100% - 200px);
        margin: 0 50px;
        padding: 40px 50px 0 50px;
    }

    /* thank you */

    .thank-you {
        margin: 0 60px;
        padding: 130px 70px;
        top: 160px;
        gap: 30px;
    }
    
    .thank-you p {
        font-size: 21px;
        color: hsl(231, 11%, 63%);
        margin-top: 10px;
        letter-spacing: 1px;
        line-height: 40px;
    }
}

@media screen and (min-width: 788px) {
    .personal-info-form {
        margin: 0 70px;
    }

    .next-step {
        right: 70px;
    }
}

@media screen and (min-width: 828px) {
    .personal-info-form {
        margin: 0 100px;
    }

    .next-step {
        right: 100px;
    }
}

@media screen and (min-width: 873px) {
    .navbar {
        height: 700px;
    }

    .personal-info-form {
        padding: 40px 60px;
    }

    .label-and-error {
        font-size: 19px;
        margin: 30px 0 10px 0;
    }

    form input {
        padding: 15px 10px;
        border-radius: 5px;
        font-size: 19px;
    }
}

/* laptop */

@media screen and (min-width: 928px) {
    .body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        display: flex;
        background-color: #fff;
        width: 840px;
        border-radius: 10px;
    }

    .navbar {
        background-image: url('../../assets/images/bg-sidebar-desktop.svg');
        background-size: cover;
        height: 700px;
        min-width: 300px;
        border-radius: 10px;
        margin: 10px;
    }

    .navbar ul {
        display: block;
        margin: 40px 0 0 30px;
        height: auto;
    }

    .navbar ul li {
        margin-top: 40px;
        display: flex;
    }

    .navbar ul li div {
        font-size: 17px;
        margin-left: 20px;
        line-height: 23px;
        letter-spacing: 1px;
    }


    .step {
        border: 2px solid #fff;
        border-radius: 100%;
        padding: 15px 20px;
        font-weight: bold;
    }

    .step-name {
        display: block;
    }

    .step-name p {
        color: hsl(231, 11%, 63%);
    }


    .personal-info-form {
        position: relative;
        top: 0;
        margin: 10px;
        border-radius: 0;
    }

    .personal-info-form p {
        font-size: 17px;
        line-height: 20px;
        margin: 15px 0;
    }

    .label-and-error {
        margin-bottom: 5px;
    }

    .next-step {
        position: absolute;
        bottom: 0;
        right: 60px;
    }

}

@media screen and (min-width: 992px) {
    .select-plan, .select-add-ons, .summary, .thank-you {
        position: relative;
        top: 0;
        margin: 0;
        width: 100%;
    }
    .options {
        width: calc(100% - 15px);
    }

    .go-back {
        position: absolute;
        bottom: 10px;
    }

    .next-step {
        position: absolute;
        right: 45px;
        bottom: 10px;
    }

    .monthly-yearly {
        width: calc(100% - 15px);
    }

    .select-plan h1 {
        font-size: 30px;
    }

    .select-plan .instructions {
        font-size: 18px;
    }

    .step, .current-step {
        padding: 10px 18px;
    }

    .addons-options {
        width: calc(100% - 15px);
    }

    .add-ons {
        width: calc(100% - 65px);
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 900px;
    }

    .navbar {
        min-width: 300px;
        margin: 20px;
    }

    .navbar ul {
        margin-left: 60px 0;
    }

    .personal-info-form {
        width: 100%;
        margin: 40px 80px 20px 60px;
        padding: 10px;
    }

    .current-step {
        padding: 15px 20px;
        font-size: 16px;
        background-color: hsl(206, 94%, 87%);
        color: black;
        border-radius: 100%;
    }

    .next-step {
        right: 10px;
    }

    /* step 2 */

    .select-plan, .select-add-ons, .summary {
        width: calc(100% - 400px);
        margin: 20px;
        padding: 40px 0 0 0;
    }

    .options {
        display: flex;
        width: 100%;
        gap: 15px;
        margin-top: 30px;
    }

    .plan {
        padding: 20px;
        flex-direction: column;
    }

    .price {
        margin-top: 15px;
    }

    .price h3 {
        font-size: 18px;
    }

    .price p {
        font-size: 16px;
    }

    .monthly-yearly {
        margin-top: 0;
        padding: 20px 0;
        font-size: 17px;
        border-radius: 10px;
    }

    .go-back {
        bottom: 0;
    }

    .next-step {
        bottom: 0;
        right: 0;
    }

    .add-ons {
        width: calc(100% - 50px);
    }

    /* step 3 */

    .summary {
        width: calc(100% - 200px);
        margin: 20px 60px 20px 40px;
        padding: 40px 0 0 0;
    }
    
}

@media screen and (min-width: 1440px) {
    .card {
        width: 80%;
    }

    .navbar {
        min-width: 350px;
    }

    .personal-info-form, .select-add-ons {
        width: 100%;
        margin: 40px 100px 20px 80px;
        padding: 10px;
    }

    /* step 2 */

    .select-plan {
        padding: 0;
        margin: 40px 80px 20px 80px;
    }

    .options {
        width: 100%;
        gap: 25px;
    }

    .monthly-yearly {
        padding: 15px 0;
    }

    /* thank you */

    .thank-you p{
        font-size: 19px;
    }
}

@media screen and (min-width: 1500px) {
    .card {
        width: 60%;
    }
}